<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сведения о вакансии</title>
</head>
<body>
        <div style="border-radius: 5px; background: #42bd7e; padding: 5px; color: #fff; text-align: center;">
            <h1>
                Сведения о вакансии
            </h1>
        </div>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Свойство</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in (Dictionary<String, object>)@ViewData["VacancyInfo"])
            {
                <tr>
                    <td><span style="font-weight: bold">@e.Key</span></td>
                    @*Если ссылка то добавим гиперссылку*@
                    @if (@e.Key.Contains("url"))
                    {
                        <td><a href="@e.Value">@e.Value</a></td>
                    }
                    else
                    {
                        <td>@e.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <p>
        <input type="button" value="Назад" onclick="history.back(-1)" />
    </p>
 </body>

</html>
