@model HHAPIWebApp.Models.Register


<form method="POST" id="formSetToken" action="javascript:void(null);" onsubmit="call()">
        <h1>Изменение настроек пользователя @Model.Email</h1>
        <p>
            <div>email: @Model.Email</div>
            <table>
                <tr><th>token:</th></tr>
                <tr><td>@Html.TextBox("Token", Model.Token, new { style = "width:1000px;" })</td></tr>
                <tr><th>User ID:</th></tr>
                <tr><td>@Html.TextBox("UserId", Model.UserId)</td></tr>
            </table>
            <p><input type="submit" value="Записать" /><p>

            <div id="formSetToken_divmsg"></div>
        </p>
    </form>


    <script type="text/javascript" language="javascript">
        function call() {
            var msg = $('#formSetToken').serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "Account")',
                data: msg,
                success: function (data) {
                    var myDiv = document.getElementById("formSetToken_divmsg");
                    if (data["Success"]) myDiv.innerHTML = "Изменения успешно записаны.";
                    else myDiv.innerHTML = "Ошибка записи: " + data["Errors"];
                },
                error: function (xhr, str) {
                    var myDiv = document.getElementById("formSetToken_divmsg");
                    myDiv.innerHTML = "Ошибка записи: " + xhr.responseCode;
                }
            });

        }
    </script>
